GEMINI_API_KEY=
# Database configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Database connection string (for SQLAlchemy, asyncpg, etc.)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

#LM Studio local API
LOCAL_LM_API = 

#LM Studio LAM API
LAN_LM_API = 

